<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/static/css/user_profile.css">
</head>
<body>
  <div class="profile-container">
  <img src="/assest/Logo.png" alt="Logo" class="top-right-logo">
    <div class="profile-card">
      <div class="profile-image">
        <img id="profilePic" src="default-avatar.png" alt="Profile Picture">
        <input type="file" id="uploadBtn" accept="image/*" hidden>
      </div>
      <div class="profile-info">
        <h2 id="userName">John Doe</h2>
        <p id="userEmail">johndoe@example.com</p>
        <button id="editBtn">Edit Name</button>
      </div>
    </div>
  </div>


<script src="/static/js/user_profile.js"></script>
</body>
</html>